<h1>Cadastra Mensagens</h1>
<form action="/mensagemcadastrada" method="POST">

    <label>Mensagem:  </label>
    <input type="text" name="texto"><br><br>
    <button type="submit"> Enviar</button>
</form>