<h1>Mensagens</h1>
<form action="/mensagemalterada/{{mid}}" method="POST">
<label>Mensagem </label>
<input type="text" name="texto" value="{{msg}}"><br>
<br>
<button type="submit">Enviar</button>
</form>