<h1>Mensagens</h1>
<form action="/remove" method="GET">
<table>
<tr>
<th>Índice</th>
<th>Mensagem</th>
<th>Apagar</th>
<!--no json msg é uma lista então #each percorre cada elemento da lista @index obtém o índice do elemento atual-->

{{#each msg}}
<!--msg é definido no index, each percorre cada mensagem e ja faz a remoção também-->

<tr>
<td>{{@index}}</td>
<td>{{this}}</td>
<td><a href="/remove/{{@index}}">
    <img scr="../Users/Michaelly/Documents/DevparaWeb/Projetos/Projeto5/public/img/botaox.jpg" alt="remove" width="50" height="50"></a></td>
</tr>

{{/each}}

</table>
</form>